<section class="container">
    <app-section-header
        title="My Priorities"
        subtitle="Where I’m focusing my efforts to make an impact in my role"
        buttonText="Add Priority"
    ></app-section-header>

    <div class="contents-tiles">

        <app-card-task
            title="Priority 1"
            dateUpdate="Updated 2 days ago"
            textContent="What I’m doing to make an impact"
        ></app-card-task>
        
        <app-card-task
            title="Priority 2"
            dateUpdate="Updated 5 days ago"
            textContent="What I’m doing to make an impact"
        ></app-card-task>
        
        <app-card-task
            title="Priority 1"
            dateUpdate="Updated 2 days ago"
            textContent="What I’m doing to make an impact"
        ></app-card-task>
        
        <app-card-task
            title="Priority 2"
            dateUpdate="Updated 5 days ago"
            textContent="What I’m doing to make an impact"
        ></app-card-task>
        <app-card-task
            title="Priority 1"
            dateUpdate="Updated 2 days ago"
            textContent="What I’m doing to make an impact"
        ></app-card-task>
        
        
    </div>
    
</section>