<section class="container">
    <div class="content">
        <div class="header">
            <span>How to use fwd_Story</span>
        </div>
        <div class="list-item-container">
            <div class="list-item-icon">
                <mat-icon>article_shortcut</mat-icon>
            </div>
            <div class="list-item-content">
                <span class="title"> Reflect </span>
                <p class="text">
                    Think about the work you've been doing, need to do, and want to do. Use this guide to help.
                </p>
            </div>
        </div>
        
        <div class="list-item-container">
            <div class="list-item-icon">
                <mat-icon>draw</mat-icon>
            </div>
            <div class="list-item-content">
                <span class="title"> Write </span>
                <p class="text">
                    Add/update your priorities, accomplishments, and aspirations.
                </p>
            </div>
        </div>
        
        <div class="list-item-container">
            <div class="list-item-icon">
                <mat-icon>explore</mat-icon>
            </div>
            <div class="list-item-content">
                <span class="title"> Align </span>
                <p class="text">
                    Share and discuss with your Career Adviser, project lead, or other work partners.
                </p>
            </div>
        </div>
        
        <div class="list-item-container">
            <div class="list-item-icon">
                <mat-icon>book</mat-icon>
            </div>
            <div class="list-item-content">
                <span class="title"> Revisit </span>
                <p class="text">
                    Continue to update your fwd_Story, and use it to have meaningful and relevant conversations.
                </p>
            </div>
        </div>

    </div>
</section>
