<section>
    <div class="title-container">
        <span class="title"> Priority </span>
        <span class="date"> Updated: 2 days ago </span>
    </div>
    <form class="form-container">
        <mat-form-field class="form-field">
            <mat-label>Priority Title</mat-label>
            <input matInput >
        </mat-form-field>
    
        <mat-form-field class="form-field">
            <mat-label>Priority Text</mat-label>
            <textarea matInput ></textarea>
        </mat-form-field>

        <button class="btn-custom" mat-raised-button> Salvar </button>
    </form>
</section>
