/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
*{
    box-sizing: border-box;
}

:root {
    --mdc-filled-text-field-focus-label-text-color: #ff5800;
    --mdc-filled-text-field-focus-active-indicator-color: #ff5800;
}